@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Yuji+Mai&display=swap');
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: "Baloo Thambi 2", serif;
}
.app{
  min-height: 100vh;
  display: grid;

}